main{
    background-color: #ebebeb;
}

form{
    background-color: #ebebeb;
    padding: 15px 20px;
    max-width: 400px;
    margin-left: 5%;
    margin-right: 5%;
    
}
input{
    padding: 3px 0;
}
form label{
    padding: 10px 0;
    display: block;
    margin: 10px 0;
}


fieldset{
    border-style: none;
}
button {
    font-size: 12px;
    border-radius: 10px;
    transition: 300ms;
    text-align: right;
    padding: 3px;
   
}
button:hover {
    background-color: #0022AA;
    
}
